/* Global Stylings */
body {
  background-color: rgba(214, 230, 227, 0.513)
}

#output {
  display: none;
}

.hidden {
  display: none;
}

.bold {
  font-weight: bold;
}

#decoration {
  display: none;
}
@media only screen and (min-width: 300px) {
  /* Element Styling for mobile */
  h2 {
    margin-top: 15%; 
  }

  p {
    margin-bottom: 2%;
    margin-top: 2%;
  }
  /* ID styling for mobile */
  #output {
    margin-left: 28%;
    margin-top: 10%;
  }
  #form-submit {
    padding: 10px 100px 10px 100px;
    margin-left: 15%;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  #warning {
    background-color: #B33A3A;
    color: #FFF;
  }
  #decoration {
    border-top: 3px #000 solid;
    margin: 5% 15%;
  }
  #reload-button {
    margin-top: 8%;
    padding: 10px 60px 10px 60px;
  }
}
@media only screen and (min-width: 768px) {
  #form-submit {
    padding-left: 150px;
    padding-right: 150px;
    margin-left: 25%;
  }


  #output, h2, #decoration {
    margin-left: 58%;
  }
}


@media only screen and (min-width: 992px) {

}


