/* Global Element Styling */
h1 {
  margin: 3% 0;
}
/* Global class styling */
.hidden {
  display: none;
}
.bold {
  font-weight: bold;
}
/* Global ID styling */
#output {
  display: none;
}
@media only screen and (min-width: 300px) {
  /* Element Styling for mobile */
  body {
    background-color: rgba(214, 230, 227, 0.513)
  }
  h2 {
    margin-top: 15%; 
  }
  p {
    margin-bottom: 2%;
    margin-top: 2%;
  }
  select {
    margin-bottom: -2%;
  }
  /* Class styling for mobile */
  .card {
    margin-right: 22%;
    background-color: rgba(228, 224, 179, 0.486)
  }
  /* ID styling for mobile */
  #output {
    margin-left: 17%;
    margin-top: 10%;
  }
  #form-submit {
    padding: 10px 100px 10px 100px;
    margin-left: 15%;
    margin-top: 2%;
  }
  #warning {
    background-color: #B33A3A;
    color: #FFF;
  }
  #decoration {
    border-top: 3px #000 solid;
    margin: 5% 15%;
  }
  #reload-button {
    margin-top: 8%;
    padding: 10px 60px 10px 60px;
  }
}
@media only screen and (min-width: 768px) {
  /* Element styling for tablet */
  p, label {
    font-size: 1.2em;
  }
  /* Class styling for tablet */
  .bold {
    margin-left: 2%;
  }
  .card {
    width: 80%;
  }
  /* ID styling for tablet */
  #form-submit {
    padding-left: 150px;
    padding-right: 150px;
    margin-left: 25%;
  }
  #output-p {
    margin: 4% 0;
  }
  #reload-button {
    margin-left: 18%;
  }
}
@media only screen and (min-width: 992px) {
  /* Element styling for desktop */
  body {
    background-color: rgba(156, 181, 226, 0.561)
  }
  select {
    margin-top: -1%;
  }
  /* Class styling for desktop */
  .card{
    width: 100%;
  }
  .card-text {
    margin-left: 35%;
  }
  /* ID styling for desktop */
  #form-submit {
    margin-left: 26%;
  }
  #output {
    margin-left: 0;
  }
  #reload-button {
    margin-left: 0;
  }
}


